# Dependencies
node_modules/

# Build output
android/app/build/
ios/build/
*.ipa
*.apk

# Metro bundler cache
.metro-cache/

# Xcode
*.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Android
.gradle/
local.properties

# Environment
.env
.env.local

# Jest
coverage/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
